#ignora compilati e cache di python
__pycache__/
*.py[cod]
*$py.class

#ignora questa cartella
files/

#ignora le sessioni
my_account.session
my_account.session-journal


#ignora il file config.json
config.json
