#Ignora compilati e cache di python
__pycache__/
*.py[cod]
*$py.class

#Ignora questa cartella
files/

#Ignora le sessioni
my_account.session
my_account.session-journal

#Ignora il file config.json e il file json_message.json
config.json
json_message.json

#Ignora file .db
*.db
